In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [23]:
pip install imblearn
pip install -c glemaitre imbalanced-learn
pip install imblearn==0.0
pip install imbalanced-learn==0.6.0
pip install scikit-learn==0.22.1

SyntaxError: invalid syntax (2251425123.py, line 1)

In [21]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
#from imblearn.metrics 
import imblearn
import classification_report_imbalanced

ModuleNotFoundError: No module named 'imblearn'

# Read the CSV and Perform Basic Data Cleaning

In [15]:
#https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [17]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [18]:
# Create our features
X = df.drop(columns="loan_status", axis=1)
X = pd.get_dummies(X)

# Create our target
y = df["loan_status"]

In [19]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [21]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1, stratify=y)

In [24]:
print(Counter(y_train))
print(Counter(y_test))

Counter({'low_risk': 51352, 'high_risk': 260})
Counter({'low_risk': 17118, 'high_risk': 87})

In [25]:
print(X_train)

       loan_amnt  int_rate  installment  annual_inc    dti  delinq_2yrs  \
39692    10000.0    0.1131       328.86     49000.0  24.54          0.0
37830    21000.0    0.1072       684.74     57400.0  34.52          0.0
64531    35000.0    0.0881      1109.90    180000.0   3.01          0.0
28730    20000.0    0.0819       628.49     80000.0  26.51          0.0
35102    12600.0    0.1356       427.96     71000.0  22.38          1.0
...          ...       ...          ...         ...    ...          ...
18872    35000.0    0.0881      1109.90    400000.0  13.79          0.0
6415     16800.0    0.0881       532.76     31000.0  20.48          0.0
12632    25000.0    0.1102       818.71     90000.0  15.27          1.0
24022    14000.0    0.1072       456.49    180000.0  12.35          2.0
44756    15000.0    0.0702       463.30     89000.0  13.30          0.0

       inq_last_6mths  open_acc  pub_rec  revol_bal  ...  issue_d_Mar-2019  \
39692             0.0      10.0      1.0     6580.0  ...                 0
37830             0.0      12.0      0.0    18688.0  ...                 0
64531             2.0       7.0      0.0      836.0  ...                 0
28730             0.0      15.0      0.0     2615.0  ...                 0
35102             2.0       7.0      0.0     9073.0  ...                 0
...               ...       ...      ...        ...  ...               ...
18872             1.0      17.0      1.0     7810.0  ...                 0
6415              0.0       3.0      0.0     1867.0  ...                 1
12632             0.0      18.0      0.0    26106.0  ...                 0
24022             0.0      10.0      0.0     3601.0  ...                 0
44756             0.0       7.0      0.0     2027.0  ...                 0

       pymnt_plan_n  initial_list_status_f  initial_list_status_w  \
39692             1                      0                      1
37830             1                      0                      1
64531             1                      0                      1
28730             1                      0                      1
35102             1                      0                      1
...             ...                    ...                    ...
18872             1                      0                      1
6415              1                      0                      1
12632             1                      0                      1
24022             1                      0                      1
44756             1                      0                      1

       next_pymnt_d_Apr-2019  next_pymnt_d_May-2019  \
39692                      0                      1
37830                      0                      1
64531                      0                      1
28730                      0                      1
35102                      0                      1
...                      ...                    ...
18872                      1                      0
6415                       0                      1
12632                      1                      0
24022                      0                      1
44756                      1                      0

       application_type_Individual  application_type_Joint App  \
39692                            1                           0
37830                            1                           0
64531                            1                           0
28730                            1                           0
35102                            1                           0
...                            ...                         ...
18872                            1                           0
6415                             1                           0
12632                            1                           0
24022                            1                           0
44756                            1                           0

       hardship_flag_N  debt_settlement_flag_N
39692                1                       1
37830                1                       1
64531                1                       1
28730                1                       1
35102                1                       1
...                ...                     ...
18872                1                       1
6415                 1                       1
12632                1                       1
24022                1                       1
44756                1                       1

[51612 rows x 95 columns]

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [26]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=1)

ModuleNotFoundError: No module named 'imblearn'

In [11]:
rf_model.fit(X_train, y_train)

NameError: name 'rf_model' is not defined

In [12]:
predictions = rf_model.predict(X_test)

NameError: name 'rf_model' is not defined

In [13]:
predictions = rf_model.predict(X_test)

NameError: name 'rf_model' is not defined

In [14]:
# Calculated the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)
print(str('Balanced Random Forest'))
print(str('Accuracy Score'))
print((acc_score))

NameError: name 'acc_score' is not defined

In [15]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)


cm_df = pd.DataFrame(
    cm, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"])

cm_df

print(str('Balanced Random Forest'))
print(str('Confusion Matrix'))
print(cm_df)

NameError: name 'y_test' is not defined

In [16]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(str('Balanced Random Forest'))
print(str('Imbalanced Classification Report'))
print(classification_report_imbalanced(y_test, predictions))

ModuleNotFoundError: No module named 'imblearn'

In [17]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
feature_importance = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)
feature_importance

NameError: name 'rf_model' is not defined

### Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier 
eeab_model = EasyEnsembleClassifier(n_estimators=128, random_state=1) 
eeab_model.fit(X_train, y_train)

In [ ]:
# Calculated the balanced accuracy score
y_pred = eeab_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)
confusion_matrix

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))